* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.person-container {
  border: 1px solid red;
  width: 400px;
  height: 200px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
