* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef4ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 20px;
}

h1 {
  text-decoration: underline;
}

.person-container {
  background-color: #8da9c4;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 18px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: -5px -5px #134074;
}

button {
  background: none;
  border: none;
  font-size: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.btn__np {
  display: flex;
  gap: 10px;
}

.btn__surprise {
  background-color: #134074;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}
