* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #eff7f6;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
  padding: 10px 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

h1 {
  font-size: 35px;
  letter-spacing: 3px;
  color: #003049;
}

.header__line {
  border-top: 4px solid #00a6fb;
  width: 80px;
  border-radius: 3px;
}

.person-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 18px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #4d7298;
  box-shadow: 5px -5px #00a6fb;
  object-fit: cover;
  object-position: top;
}

h4 {
  letter-spacing: 3px;
  color: #003049;
}

h6 {
  color: #00a6fb;
  font-weight: 500;
}

p {
  width: 500px;
  text-align: center;
  color: #4d7298;
}

button {
  background: none;
  border: none;
  font-size: 25px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn__np {
  display: flex;
  gap: 10px;
}

.btn__surprise {
  border: 2px solid #00a6fb;
  color: #4d7298;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}

.btn__surprise:hover {
  background: #00a6fb;
  color: azure;
}
